NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_ENVIRONMENT=localhost

# Ethereum Sepolia
NEXT_PUBLIC_SEPOLIA_RPC_URL="https://eth-sepolia.g.alchemy.com/v2/[YOUR_API_KEY]"

# Base Sepolia
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL="https://base-sepolia.g.alchemy.com/v2/[YOUR_API_KEY]"

# Mode Testnet
NEXT_PUBLIC_MODE_SEPOLIA_TESTNET_RPC_URL="https://sepolia.explorer.mode.network/api"

# Optimism Sepolia
NEXT_PUBLIC_OPTIMISM_SEPOLIA_RPC_URL="https://opt-sepolia.g.alchemy.com/v2/[your_api_key]"

# Celo Alfajores Testnet
NEXT_PUBLIC_CELO_ALFAJORES_RPC_URL=https://explorer.celo.org/alfajores/api

# Etherscan API Key (used for multiple networks)
NEXT_PUBLIC_ETHERSCAN_API="[your_api_key]"

NEXTAUTH_URL=http://localhost:3000
# Generate this with `openssl rand -base64 32`
NEXTAUTH_SECRET="[your_secret]",

# Get these values from the Worldcoin Developer Portal
NEXT_PUBLIC_WLD_APP_ID="app_staging_you-worldcoin-app-id"
NEXT_WLD_CLIENT_SECRET="sk_[your_client_secret]"

NEXT_PUBLIC_WLD_API_BASE_URL=https://developer.worldcoin.org/api/v2/verify

# NextAuth & Dynamic
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID="[your_dynamic_environment_id]"
NEXT_DYNAMIC_BEARER_TOKEN="dyn_[your_dynamic_bearer_token]"


# WorldId Proofs

NEXT_PUBLIC_WLD_ACTION="[your_world_id_action]"


#APPWRITE
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT=662cd3d0000d7d095714
APPWRITE_DATABASE_ID=662cd599000b133bfcd3
APPWRITE_USER_COLLECTION_ID=662cd5bb002792396b02
APPWRITE_BANK_COLLECTION_ID=662cd610000e0e283eb4
APPWRITE_TRANSACTION_COLLECTION_ID=662cd5fb000ceb06e8a6
NEXT_APPWRITE_KEY=c78d74bfcb9364a868b588056cdb00bd7328ad2629f9d97682a877f8662776289426ab7a5dcc1ca6cb4c6946b5a341ca73cd09f18dd0c01a11454aa75cf85a3cc4b0cc5f5cbc8872368aab3d24a13ff35ca45fac080bf0d8f575d84dec72ad0446b13752978c44d379ca85bdb690b7aa0523b44d9058a6da51c474ba54aef2d7

#PLAID
PLAID_CLIENT_ID=example
PLAID_SECRET=example
PLAID_ENV=sandbox
PLAID_PRODUCTS=auth,transactions,identity
PLAID_COUNTRY_CODES=US,CA

#DWOLLA
DWOLLA_KEY=example
DWOLLA_SECRET=example
DWOLLA_BASE_URL=https://api-sandbox.dwolla.com
DWOLLA_ENV=sandbox